* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.playball {
    font-family: 'Playball', cursive;
}
.changaone {
    font-family: 'Changa One', cursive;
}
.nosifer {
    font-family: 'Nosifer', cursive;
}
.milonga {
    font-family: 'Milonga', cursive;
}
.rambla {
    font-family: 'Rambla', sans-serif;
}
.textmeone {
    font-family: 'Text Me One', sans-serif;
}
.sharetech {
    font-family: 'Share Tech', sans-serif;
}

.match_container {
    float: left;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #ddc7b2;
    border: 1px solid #cca682;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.game_container {
    float: left;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #71a62a;
    border: 1px solid #88c932;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.player_container {
    float: left;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    color: #eeeeee;
    background-color: #6a0711;
    border: 1px solid #cc8388;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
